@import "tailwindcss";

@media(max-width: 700px){

}

@media(min-width: 1024px) and (max-width: 1280px){
  .letter-container {
    width: clamp(80px, 22vw, 150px);
  }
    .lora {
    font-size: clamp(80px, 15vw, 320px);
  }
  
}

.letter-container {
  width: clamp(80px, 14vw, 190px);
  overflow: hidden;
  display: flex;
}



.letter{
  transform: translateX(-50%);
  animation: slideIn 1s forwards;
  animation-delay: var(--delay);
  color: black;
}

@keyframes slideIn {
  from { transform: translateX(-50%); }
  to   { transform: translateX(0); }
}


.lora {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: clamp(80px, 18vw, 320px);
}

body {
  font-family: Arial;
  background: #eee;
}

.slider {
  width: 100%;
  height: 300px;
  margin: 50px auto;
  position: relative;
  background: white;
  overflow: hidden;
}
.slide-image{
  width: 25%;
  position: absolute;
  z-index: 10;
}


/* Top bar */
.top-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.left-controls,
.right-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Buttons */
button {
  cursor: pointer;
  border: none;
  background: #000;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
}

/* Dots */
.dots {
  display: flex;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #aaa;
}

.dot.active {
  background: #000;
}

/* Slides */
.slides {
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}



.progress-bar {
  width: 100%;      /* change as needed */
  height: 2px;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.progress-bar .fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform-origin: left center;
  transform: scaleX(0);
}
